<h1>EPS 趨勢分析</h1>

<h3>這是一個追蹤金融股 EPS 以及股利趨勢的小工具，主要是讓長期持有金融股的股民有一個方便的介面可以快速掌握 EPS 動態以及過往股利的派發紀錄。</h3>

<div class="stock-selector">
  <mat-form-field>
    <mat-label>公司代號</mat-label>

    <mat-select 
      [formControl]="stockControl"
      (selectionChange)="onStockSelectionChange($event)"
      placeholder="請選擇"
    >
      @for (option of entities; track option) {
        <mat-option [value]="option.id">{{ (`${option.id} ${option.name}`) }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<h2>EPS 同期比較</h2>

<h3>比較最近 N 年同月份的 EPS，可以透過下方的查看區間選擇想要查看的年份。</h3>

<p class="declaration">補充說明：第 N 月 EPS = 第 N 月累計 EPS - 第 N - 1 月 累計 EPS</p>

<div class="stock-selector">
  <mat-form-field>
    <mat-label>查看區間</mat-label>

    <mat-select 
      [formControl]="lastNYearsOfEpsYoyControl"
      (selectionChange)="onLastNYearsOfEpsYoySelectionChange($event)"
      placeholder="請選擇"
    >
      @for (option of lastNYearsOfEpsYoy; track option) {
        <mat-option [value]="option.id">{{ (`${option.name}`) }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div 
  echarts 
  [options]="optionsEpsYoy"
  (chartInit)="onEpsYoyBarChartInit($event)"
></div>

<h2>EPS vs 股利</h2>

<h3>比較最近 N 年的 EPS 以及對應的股利（現金股利以及股票股利），可以透過下方的查看區間選擇想要查看的年份。百分比表示當年度的配發率。</h3>

<div class="stock-selector">
  <mat-form-field>
    <mat-label>查看區間</mat-label>

    <mat-select 
      [formControl]="lastNYearsOfEpsVsDividendsControl"
      (selectionChange)="onLastNYearsOfEpsVsDividendsSelectionChange($event)"
      placeholder="請選擇"
    >
      @for (option of lastNYearsOfEpsVsDividends; track option) {
        <mat-option [value]="option.id">{{ (`${option.name}`) }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div 
  echarts 
  [options]="optionsEpsVsDividends"
  (chartInit)="onEpsVsDividendsBarChartInit($event)"
></div>

<p class="declaration">*數據如果跟您的認知有出入時，請以公開資訊觀測站的數據為主。</p>
<!-- <p class="tool-purpose">作者本身是軟體工程師，也是一位長期持有金融股的小股民，當初寫這個工具是為了方便自己掌握金融公司的營運狀況，現在把它分享給大家，希望這個工具可以幫助到大家👍。</p> -->